

.four{
  text-align: center;
  .statitic{
    .value{
      font-size: 3em;
      font-weight: 600;
    }
  }
}


.tewlve{
  a.header{
    font-weight: 600;
  }
  ul{
    display: flex;
    li{
      margin-right: 2em;
      list-style:circle;
    }
  }
}
